# Dataset overview usc adult

In [19]:
from __future__ import division
import pandas as pd
import numpy as np
import json
import os,sys
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np

In [20]:
pd.options.display.float_format = '{:,.2f}'.format
dataset_base_dir = '../datasets/uci_adult/'
train_file = 'train.csv'
test_file = 'test.csv'

In [21]:
path_train = os.path.join(dataset_base_dir,train_file)
path_test = os.path.join(dataset_base_dir,test_file)

with open(path_train, "r") as train_fi:
    with open(path_test, "r") as test_fi: 
        train = pd.read_csv(train_fi, header=None)
        test = pd.read_csv(test_fi, header=None)
        df = train.append(test)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,"77,516.00",Bachelors,13.00,Never-married,Adm-clerical,Not-in-family,White,Male,"2,174.00",0.00,40.00,United-States,<=50K
1,50,Self-emp-not-inc,"83,311.00",Bachelors,13.00,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00,0.00,13.00,United-States,<=50K
2,38,Private,"215,646.00",HS-grad,9.00,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.00,0.00,40.00,United-States,<=50K
3,53,Private,"234,721.00",11th,7.00,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.00,0.00,40.00,United-States,<=50K
4,28,Private,"338,409.00",Bachelors,13.00,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.00,0.00,40.00,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,"215,419.00",Bachelors,13.00,Divorced,Prof-specialty,Not-in-family,White,Female,0.00,0.00,36.00,United-States,<=50K
16277,64,?,"321,403.00",HS-grad,9.00,Widowed,?,Other-relative,Black,Male,0.00,0.00,40.00,United-States,<=50K
16278,38,Private,"374,983.00",Bachelors,13.00,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.00,0.00,50.00,United-States,<=50K
16279,44,Private,"83,891.00",Bachelors,13.00,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,"5,455.00",0.00,40.00,United-States,<=50K
16280,35,Self-emp-inc,"182,148.00",Bachelors,13.00,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00,0.00,60.00,United-States,>50K

## General

In [22]:
print('Size')
size = len(df)
print(size)

print('No. features')
nr_features = len(df.columns)
print(nr_features)

print('Protected features:')
print('Race, Sex')

print('Protected groups:')
print('{White, Black} x {Male, Female}')

print('Prediciton task:')
print('income â‰¥ 50k?')

Size
48842
No. features
15
Protected features:
Race, Sex
Protected groups:
{White, Black} x {Male, Female}
Prediciton task:
income â‰¥ 50k?

## Distribution of sex

In [23]:
print('Amount of Males:')
nr_males = (df[9] == 'Male').sum()
print(nr_males)

print('Percentage males:')
total_sex = len(df[9])
print(nr_males/total_sex)


print('Amount of Females:')
nr_females = (df[9] == 'Female').sum()
print(nr_females)

print('Percentage Females:')
print(nr_females/total_sex)

Amount of Males:
32650
Percentage males:
0.6684820441423365
Amount of Females:
16192
Percentage Females:
0.33151795585766347

## Distribution of race

In [24]:
print('Amount of White individuals:')
nr_white = (df[8] == 'White').sum()
print(nr_white)

print('Percentage White individuals:')
total_race = len(df[8])
print(nr_white/total_race)


print('Amount of Black individuals:')
nr_black = (df[8] == 'Black').sum()
print(nr_black)

print('Percentage Black individuals:')
print(nr_black/total_race)



print('Amount of Other individuals:')
nr_other = (df[8] == 'Other').sum() + (df[8] == 'Asian-Pac-Islander').sum() & (df[8] == 'Amer-Indian-Eskimo').sum()
print(nr_other)

print('Percentage Other individuals:')
print(nr_other/total_race)

Amount of White individuals:
41762
Percentage White individuals:
0.855042791040498
Amount of Black individuals:
4685
Percentage Black individuals:
0.09592154293435977
Amount of Other individuals:
388
Percentage Other individuals:
0.007943982637893617

## Distribution of income for race

In [25]:
print('Amount of white individuals with income above 50K:')
nr_white_income = ((df[8] == 'White') & (df[14] == '>50K')).sum()
print(nr_white_income)

print('Percentage of white individuals with income above 50K:')
print(nr_white_income/nr_white)


print('Amount of white individuals with income below 50K:')
nr_white_n_income = ((df[8] == 'White') & (df[14] == '<=50K')).sum()
print(nr_white_n_income)

print('Percentage of white individuals with income below 50K:')
print(nr_white_n_income/nr_white)

Amount of white individuals with income above 50K:
10607
Percentage of white individuals with income above 50K:
0.2539868780230832
Amount of white individuals with income below 50K:
31155
Percentage of white individuals with income below 50K:
0.7460131219769168

In [26]:
print('Amount of black individuals with income above 50K:')
nr_black_income = ((df[8] == 'Black') & (df[14] == '>50K')).sum()
print(nr_black_income)

print('Percentage of black individuals with income above 50K:')
print(nr_black_income/nr_black)


print('Amount of black individuals with income below 50K:')
nr_black_n_income = ((df[8] == 'Black') & (df[14] == '<=50K')).sum()
print(nr_black_n_income)

print('Percentage of black individuals with income below 50K:')
print(nr_black_n_income/nr_black)

Amount of black individuals with income above 50K:
566
Percentage of black individuals with income above 50K:
0.1208110992529349
Amount of black individuals with income below 50K:
4119
Percentage of black individuals with income below 50K:
0.8791889007470651

## Distribution of income for sex

In [27]:
print('Amount of males with income above 50K:')
nr_male_income = ((df[9] == 'Male') & (df[14] == '>50K')).sum()
print(nr_male_income)

print('Percentage of males with income above 50K:')
print(nr_male_income/nr_males)


print('Amount of males with income below 50K:')
nr_male_2_income = ((df[9] == 'Male') & (df[14] == '<=50K')).sum()
print(nr_male_2_income)

print('Percentage of males with income below 50K:')
print(nr_male_2_income/nr_males)

Amount of males with income above 50K:
9918
Percentage of males with income above 50K:
0.3037672281776417
Amount of males with income below 50K:
22732
Percentage of males with income below 50K:
0.6962327718223583

In [28]:
print('Amount of females with income above 50K:')
nr_female_income = ((df[9] == 'Female') & (df[14] == '>50K')).sum()
print(nr_female_income)

print('Percentage of females with income above 50K:')
print(nr_female_income/nr_females)


print('Amount of females with income below 50K:')
nr_female_2_income = ((df[9] == 'Female') & (df[14] == '<=50K')).sum()
print(nr_female_2_income)

print('Percentage of females with income below 50K:')
print(nr_female_2_income/nr_females)

Amount of females with income above 50K:
1769
Percentage of females with income above 50K:
0.10925148221343874
Amount of females with income below 50K:
14423
Percentage of females with income below 50K:
0.8907485177865613